@import url("https://fonts.googleapis.com/css?family=Arimo|Beth+Ellen|Blinker|Crimson+Pro|Dosis|Farro|Fira+Sans|Grenze|Heebo|Inconsolata|Lato|Lora|Merriweather|Montserrat|Muli|Nanum+Gothic|Noto+Sans|Noto+Sans+JP|Noto+Sans+KR|Noto+Serif|Nunito|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Narrow|PT+Serif|Playfair+Display|Quicksand|Red+Hat+Display|Red+Hat+Text|Roboto|Roboto+Condensed|Roboto+Slab|Rubik|Saira+Stencil+One|Slabo+27px|Titillium+Web|Ubuntu|Work+Sans&display=swap");
* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.contain {
	background-image: url(./img/court.jpg);
	background-color: #3939ac;
	background-blend-mode: color;
	background-size: cover;
	background-position: center;
	opacity: 0.95;
	min-height: 100%;
	height: 35em;
}
.main {
	width: 75%;
	display: block;
	margin: auto;
}
.title-main {
	color: white;
	font-size: 4.5em;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 1;
	margin-bottom: 0.75em;
	padding-top: 10%;
	letter-spacing: 0.05em;
}
.title {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 1;
	margin-bottom: 1em;
	padding-top: 5%;
	letter-spacing: 0.05em;
}
.subtitle {
	color: #a3a3c2;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	display: block;
	letter-spacing: 1px;
	padding-bottom: 2em;
}
.info-title {
	font-weight: bold;
}
.info-left {
	color: whitesmoke;
	display: block;
	float: left;
}
.info-right {
	color: whitesmoke;
	display: block;
	float: right;
}
button {
	height: 3em;
	width: 6em;
	font-family: 'Blinker', sans-serif;
	color: #d1d1e0;
	border-color: #d1d1e0;
	background-color: transparent;
	transition: background-color 1000ms, color 1000ms;
}
button:hover {
	 background-color: rgba(255,255,255,1);
    color: #222;
    cursor: pointer; 
}
p {
	color: whitesmoke;
}
ul li {
	list-style: none;
}
nav ul {
	margin: 0;
	text-align: center;
}
nav li {
	margin: 0;
	display: inline-block;
	padding: .5em;
}
nav li a {
	color: whitesmoke;
	text-decoration: none;
	padding: 1.5em;
	transition: background-color 1000ms, color 1000ms;
}
nav li a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
}
footer {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100px;
	padding: 0.25em 0;
}
footer ul li {
	flex-grow: 1;
	padding: 0.5em;
	text-align: end;
}
.footer-container {
	display: flex;
	align-items: center;
}
.footer-container ul {
	flex-grow: 1;
	text-align: end;
}
.title-footer {
	color: whitesmoke;
}
#carouselExampleIndicators {
	height: 40em;
}
.carousel-control-prev, .carousel-control-next {
	position: absolute;
	bottom: 50%; 
	display: inline-block;
}