@import url("https://fonts.googleapis.com/css?family=Arimo|Beth+Ellen|Blinker|Crimson+Pro|Dosis|Farro|Fira+Sans|Grenze|Heebo|Inconsolata|Lato|Lora|Merriweather|Montserrat|Muli|Nanum+Gothic|Noto+Sans|Noto+Sans+JP|Noto+Sans+KR|Noto+Serif|Nunito|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Narrow|PT+Serif|Playfair+Display|Quicksand|Red+Hat+Display|Red+Hat+Text|Roboto|Roboto+Condensed|Roboto+Slab|Rubik|Saira+Stencil+One|Slabo+27px|Titillium+Web|Ubuntu|Work+Sans&display=swap");
* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: whitesmoke;
}
p {
	margin: 0;
}
.contain {
	width: 80%;
	display: block;
	margin: auto;
}
.main-container {
	background-image: url(./img/court.jpg);
	background-color: #3939ac;
	background-blend-mode: color;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.95;
	min-height: 35em;
}
@media (min-width: 600px) {
	.main-container {
		/*height: 37em;*/
	}
}
@media (min-width: 1000px) {
	.main-container {
		/*height: 35em;*/
	}
}
.main-title {
	color: white;
	font-size: 4.5em;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 1;
	margin-bottom: 0.75em;
	padding-top: 10%;
	letter-spacing: 0.05em;
}
.title {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 1;
	margin-bottom: 1em;
	padding-top: 5%;
	letter-spacing: 0.05em;
}
.subtitle {
	color: #a3a3c2;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	display: block;
	letter-spacing: 1px;
	padding-bottom: 1em;
}
.info-title {
	font-weight: bold;
}
.vert-container {
	padding: 1em 0;
}
.about-img, .blurb {
	width: 90%;
	display: block;
	margin: auto;
}
.about-img {
	padding: 0.5em 0;
}
/* improve the about-blurb media query */
@media(min-width: 700px) {
	.about-img, .blurb {
		width: 50%;
	}
}
.sign-up-container {
	border-top: solid #999;
	border-width: 0.05em;
}
.sign-up-img {
	float: right;
	width: 200px;
	height: 200px;
}
.first {
	border: none;
}
@media (min-width: 900px) {
	.info {
		padding-left: 200px;
		padding-right: 200px;
	}
	.sign-up-img {
		margin-right: 200px;
	}
}
button {
	height: 3em;
	width: 6em;
	margin-top: 1.1em;
	font-family: 'Blinker', sans-serif;
	color: #d1d1e0;
	border-color: #d1d1e0;
	background-color: transparent;
	transition: background-color 1000ms, color 1000ms;
}
.btn-schedule {
	display: block;
	float: right;
	margin-right: 3em;
}
.btn-buy:hover {
	background-color: #ff66ff;
   color: white;
   cursor: pointer; 
}
.btn-schedule:hover {
	background-color: rgba(255,255,255,1);
   color: #222;
   cursor: pointer; 
}
ul li {
	list-style: none;
}
.navigation ul {
	margin-top: 0;
	text-align: center;
	padding: .5em 0;
	border-bottom: solid whitesmoke;
	border-width: 0.05em;
}
.navigation li {
	display: inline-block;
	padding: .5em;
}
.navigation li a {
	color: whitesmoke;
	text-decoration: none;
	padding: 1.5em 1.5em 1.2em 1.5em;
	transition: background-color 1000ms, color 1000ms;
}
.navigation li a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
}
.footer {
	background-color: rgba(0, 0, 0, 0.9);
	height: 6.5em;
}
.footer-container {
	padding: .5em;
	text-align: center;
}
.footer-title {
	font-size: 1em;
}
.footer-img {
	width: 50px;
}
/*.carousel-inner {
	align-items: center;
}
.carousel-container {
	margin-bottom: 300px;
}
#carouselExampleIndicators {
	height: 400px;
}
.carousel-control-prev, .carousel-control-next {
	position: absolute;
	bottom: 50%; 
	display: inline-block;
}*/
