@import url("https://fonts.googleapis.com/css?family=Arimo|Beth+Ellen|Blinker|Crimson+Pro|Dosis|Farro|Fira+Sans|Grenze|Heebo|Inconsolata|Lato|Lora|Merriweather|Montserrat|Muli|Nanum+Gothic|Noto+Sans|Noto+Sans+JP|Noto+Sans+KR|Noto+Serif|Nunito|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Narrow|PT+Serif|Playfair+Display|Quicksand|Red+Hat+Display|Red+Hat+Text|Roboto|Roboto+Condensed|Roboto+Slab|Rubik|Saira+Stencil+One|Slabo+27px|Titillium+Web|Ubuntu|Work+Sans&display=swap");
* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	/* color: whitesmoke; */
}
html {
	height: 100%;
}
body {
	overflow-x: hidden;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0;
}
.center-text {
	text-align: center;
	display: block;
}
.logo {
	width: 70px;
	height: 40px;
	display: none;
}
.super-splash-bros {
	height: 45px;
	width: 250px;
}
.super-splash-bros:hover {
	color: red;
	text-decoration: none;
}
.social-media {
	margin-right: 2em;
}
.map-container {
	height: 7.5em;
	display: block;
	margin: 1em 3em 0 -1em; 
}
.contain {
	color: whitesmoke;
	width: 70%;
	display: block;
	margin: 15em auto 20em auto;
}
.white-contain {
	background-color: whitesmoke;
	color: black;
	display: block;
	margin: 2em auto 7em auto;
	padding: 15em 15% 15em 15%;
}
.main-container {
	padding-top: 5em;
	padding-bottom: 50em;
	height: 100%;
	background-image: url(court.jpg);
	background-color: #3939ac;
	background-blend-mode: color;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.95;
	min-height: 100%;
}
.main-title {
	font-family: 'Montserrat900', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 1;
	margin-bottom: 0.75em;
	letter-spacing: 0.05em;
}
.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 1;
	margin-bottom: 1em;
	padding-top: 5%;
	letter-spacing: 0.05em;
}
.subtitle {
	color: #a3a3c2;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	display: block;
	letter-spacing: 1px;
	padding-bottom: 1em;
}
.blurb, .list-blurb {
	font-size: .9em;
}
.info-title {
	font-weight: bold;
}
.info {
	padding-left: 10px;
}
.vert-container {
	padding: 1em 0;
}
.video {
	width: 100%;
	display: block;
	margin: 1em auto;
}
.about-img, .blurb {
	width: 90%;
	display: block;
	margin: auto;
}
.about-img {
	padding: 0.5em 0;
}
.sign-up-container {
	border-top: solid #999;
	border-width: 0.05em;
	padding-right: 2em;
}
.sign-up-img {
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
}
.first {
	border: none;
}
.btn-white {
	color: #d1d1e0;
	border-color: #d1d1e0;
}
.btn-black {
	color: black;
	border-color: black;
}
.btn-white, .btn-black {
	font-family: 'Blinker', sans-serif;
	text-align: center;
	border-radius: 2.5px;
	background-color: transparent;
	transition: background-color 200ms, color 200ms;
}
.btn-white:hover {
	background-color: whitesmoke;
	border-color: whitesmoke;
	color: black;
	cursor: pointer; 
}
.btn-black:hover {
	background-color: black;
	border-color: black;
	color: white;
  cursor: pointer; 
}
.btn-schedule,
.btn-buy,
.btn-submit {
	height: 3em;
	padding: 0 1em;
	margin-top: 1.1em;
}
.btn-schedule {
	display: block;
	margin: auto;
	margin-top: 2em;
}
.btn-submit {
	display: block;
	margin: auto;
}
.btn-buy:hover {
	background-color: #ff66ff;
	border-color: #ff66ff;
  color: white;
  cursor: pointer; 
}

ul li {
	list-style: none;
}
.input {
	color: black;
	border: solid #d1d1e0;
	border-width: .05em;
	border-radius: 2.5px;
	display: block;
	margin: .75em auto;
	width: 11.5em;
	padding: 10px 10px;
}
.message-box {
	height: 10em;
}
.blog {
	width: 100%;
}

/* MEDIA QUERIES */
@media (min-width: 1000px) {
	.logo {
		display: block;
	}
	.super-splash-bros {
		display: none;
	}
}
@media (min-width: 900px) {
	.btn-schedule,
	.btn-buy,
	.btn-submit {
		font-size: 1.25em;
	}
	.info {
		padding-left: 150px;
		padding-right: 150px;
	}
	.sign-up-img {
		float: right;
		margin-right: 200px;
		width: 250px;
		height: 250px;
	}
	.map-container {
		height: 20em;
	}
	.main-title {
		font-size: 3em;
	}
	.title {
		font-size: 2em;
	}
	.subtitle {
		font-size: 1.5em;
	}
	.blurb, .list-blurb {
		font-size: 1em;
	}
	.input {
		width: 17.5em;
	}
}
@media (min-width: 700px) {
	.about-img, .blurb {
		width: 50%;
	}
}
@media (min-width: 400px) {

}

